header {
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
}

 main {
    background-color: lightgray;
    background-image: url('./record.png');
    background-repeat: repeat;
    height: 500px;
    padding: 1em;
 }

body {
    margin: 0px;
}

